.productDetail{
    li{
        list-style: disc;
    }
    .link-index{
        display: none;
    }
    .link-index.active{
        display: block;
    }
    .nav-underline{
        .nav-item{
            a{
                font-weight: 600;
                color: var(--black);
                &.active{
                    color: var(--orange-tab);
                    border-color: var(--orange-tab);
                }
            }
        }
    }
    >div:first-child{
        display: flex;
        .productDetail_img{
            max-width: 50%;
            width: 100%;
            padding-right: 40px;
            >div:first-child{
                border-radius: 15px;
            }
            .slick-slider{
                .slick-slide{
                    padding: 0 10px;
                    >div{ 
                        >div{
                            border-radius: 10px;
                            &:active{
                                filter: grayscale(100%);
                                
                            }
                            &:focus-within{
                                border: none;
                                filter: grayscale(100%);
                            }
                            &:focus-visible{
                                outline: none;
                               
                            }
                        }
                    }
                }  
            }
        }
        .productDetail_inf{
            max-width: 50%;
            width: 100%;
            padding-left: 40px;
            >div:first-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    max-width: 30px;
                }
            }
            h1{
                margin-bottom: 20px;
            }
            >span{
                font-weight: 600;
            }
            .productDetail_inf_comment{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                span{
                    
                    font-weight: 600;
                    padding: 0 10px;
                    &:last-child{
                        border-left: 1px solid var(--black);
                        border-right: 1px solid var(--black);
                    }
                }
                .star-ratings{
                    .star-container{
                        padding: 0 !important;
                        .widget-svg{
                            width: 22px !important;
                            height: 22px !important;
                            
                        }
                    }
                }
                img{
                    max-width: 14px;
                }
            }
            .productDetail_inf_price{
                margin-bottom: 20px;
                div{
                    display: flex;
                    align-items: center;
                    h2{
                        color: var(--brown);
                        margin: 0; 
                    }
                    h3{
                        color: var(--gray);
                        text-decoration: line-through;
                        margin: 0 10px;
                    }
                    span{
                        font-size: 12px;
                        background: var(--green-light);
                        color: var(--white);
                        border-radius: 100%;
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                p{
                    font-weight: 600;
                    span{
                        color: var(--brown);
                    }
                }
            }
            .productDetail_inf_capacity{
                margin: 10px 0 20px 0;
                display: flex;
                flex-wrap: wrap;
                .capacity{
                    &.active{
                        background: var(--brown);
                        color: var(--white);
                    }
                    background: #F5F6F9;
                    color: var(--black);
                    font-weight: 600;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-right: 20px;
                    padding: 5px 10px;
                }
            }
            .productDetail_inf_button{
                display: flex;
                justify-content: space-evenly;
                button{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    max-width: 250px;
                    width: 100%;
                    font-size: 16px;
                    padding: 10px 20px;
                    border: 1px solid #a1a1a1;
                    margin-top: 20px;
                    padding: 15px 15px;
                    justify-content: center;
                    box-shadow: 1px 1px 5px 1px #a1a1a1;
                    &:first-child{
                        background: var(--brown);
                        &:hover{
                            background: #970707;
                        }
                    }
                    &:last-child{
                        background: var(--green);
                        &:hover{
                            background: #438b24;
                        }
                    }
                    div{
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .productDetail_specifications{
        table{
            max-width: 800px;
            td{
                font-weight: 600;

            }
        }
    }
    .productDetail_ingredient{
        h4{
            font-weight: 600;
        }
    }
    .productDetail_reviews{
        .productDetail_reviews_start{
            display: flex;
            justify-content: space-around;
            align-items: center;
            >div{
                &:first-child{
                    text-align: center;
                    >p{
                        color: var(--green);
                        font-size: 72px;
                        font-weight: 600;
                        height: 86px;
                        margin: 0;
                    }
                    .star-container{
                        padding: 0 !important;
                        .widget-svg{
                            width: 11px !important;
                            height: 11px !important;
                        }
                    }
                }
                &:not(:last-child):not(:first-child){
                    width: 100%;
                    max-width: 284px;
                    >li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .star-container{
                            padding: 0 !important;
                            .widget-svg{
                                width: 15px !important;
                                height: 15px !important;
                            }
                        }
                        .progress{
                            background: var(--white);
                            max-width: 150px;
                            width: 100%;
                            border: 1px solid var(--green);
                            .progress-bar{
                                background: var(--green);
                            }
                        }
                    }
                }
                &:last-child{
                    text-align: center;
                    font-weight: 600;
                    button{
                        color: var(--white);
                        padding: 6px 20px;
                        background: var(--green);
                        border: 1px solid var(--green);
                        &:hover{
                            background: #438b24;
                        }
                    }
                }

            }
           
        }
        .productDetail_reviews_header{
            background: #F3F3F3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            padding: 5px 40px;
            p{
                margin: 0;
            }
            select{
                color: var(--white);
                background: var(--green);
                padding: 5px ;
                max-width: 150px;
                width: 100%;
                cursor: pointer;
                border-radius: 10px;
            }
        }
        #productDetail_reviews_feedback{
            display: none;
            position: relative;
            overflow: hidden;
            background: var(--white);
            animation: height0to100 ease-in-out 2s forwards;
            button{
                background: var(--green);
                padding: 5px 10px;
            }
            textarea{
                width: 100%;
                padding: 10px;
            }
        }
        .productDetail_reviews_comment{
            margin-top: 20px;
            >div{
                >div{
                    &:first-child{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;      
                        >div{
                            display: flex;
                            align-items: center;
                            .star-container{
                                padding: 0 !important;
                                .widget-svg{
                                    width: 15px !important;
                                    height: 15px !important;
                                }
                            }
                            span{
                                font-weight: 600;
                                padding: 0 10px 0 20px;
                                &:last-child{
                                    border-left: 1px solid var(--black);
                                }
                            }
                        }
                    }
                }
            }
        }
        .productDetail_reviews_imgs{
            display: flex;
            flex-wrap: wrap;
            >div{
                max-width: 50px;
                cursor: pointer;
            }
        }
        .pagination{
            justify-content: center;
            li{
                
                list-style: none;
            }
            .page-item{
                &.active{
                    .page-link{
                        background: none;
                        color: #EE6F2E;
                        border: 1px solid #B3B3B3;
                    }
                }
                .page-link{
                    border: none;
                    color: var(--black);
                    &:focus{
                        box-shadow: none;
                        background: none;
                    }
                }
            }
        }
    }
    .productDetail_related{
        h3{
            margin: 0 0 5px 10px;
        }
        margin: 30px 0;
    }
    @keyframes height0to100 {
        from{
            height: 0;
        }
        to{
            height: 300px;
        }
    }
}